<div class="wrapper">
    <h1 id="page">Progressive Loading</h1>
    <ul class="links">
        <!--<li data-target="landing">Landing</li>-->
        <li data-target="signup">Sign Up</li>
        <li data-target="login">Login</li>
        <li data-target="testclient">Test Client</li>
    </ul>

    <div class="content">

    </div>

</div>